<h1>Kalendar</h1>
<p id="here"></p>
<p>Evento:
<select id="eventnumber">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
</p>

<div id="calendar"></div>
<script>
$(document).ready(function() {
  $('#eventnumber').change(function(){
    $.ajax({
      url: "/events?filter="+$('#eventnumber').val()+".json",
      type: "GET",
      datatype: "json",
      //data: {  },
      success:function(result)
      {
        console.log(result);
        $('#calendar').fullCalendar( 'removeEvents');
        $('#calendar').fullCalendar( 'renderEvents', result );
        }
      });
  });
});
</script>
